src/import_node_red.json
[
    {
        "id": "8222568a16dca0bb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abdfb92622c302b0",
        "type": "mqtt in",
        "z": "8222568a16dca0bb",
        "name": "",
        "topic": "current",
        "qos": "2",
        "datatype": "auto",
        "broker": "dc8f62561527c98d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "5006d9d872052541",
                "eb94b5b9eb87559c",
                "1b45e2a042b027d4"
            ]
        ]
    },
    {
        "id": "ccb5a0c95e887a15",
        "type": "mqtt out",
        "z": "8222568a16dca0bb",
        "name": "",
        "topic": "data",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dc8f62561527c98d",
        "x": 1390,
        "y": 620,
        "wires": []
    },
    {
        "id": "5006d9d872052541",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c39677b3e46a71f",
        "type": "ui_switch",
        "z": "8222568a16dca0bb",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "96df22abb9528455",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 990,
        "y": 620,
        "wires": [
            [
                "9daab9fb44fa0413"
            ]
        ]
    },
    {
        "id": "9daab9fb44fa0413",
        "type": "function",
        "z": "8222568a16dca0bb",
        "name": "",
        "func": "var state = msg.payload;\nif(state==true){msg.payload = 1;}\nelse msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "ccb5a0c95e887a15"
            ]
        ]
    },
    {
        "id": "eb94b5b9eb87559c",
        "type": "ui_chart",
        "z": "8222568a16dca0bb",
        "name": "",
        "group": "96df22abb9528455",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Power usage",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2b6ae5763d52c8d5",
        "type": "jsontimer",
        "z": "8222568a16dca0bb",
        "name": "",
        "locale": "vn-VN",
        "localeOptions": "{\"timeZone\": \"UTC\"}",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "66114b6b37ea92dc"
            ],
            [
                "400b4b273ec24f90",
                "eeeece46534afa14"
            ]
        ]
    },
    {
        "id": "66114b6b37ea92dc",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "timerout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "400b4b273ec24f90",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "alarmPayload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "8d0eea22fb4222f2",
        "type": "function",
        "z": "8222568a16dca0bb",
        "name": "Set timer",
        "func": "let state = msg.payload;\n\nswitch(state) {\n    case 0:\n        msg.payload = {\n        \"id\":\"Timer\"\n        }\n        msg.topic = \"clear\"\n        break;\n    case 1:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":10000,\n            \"alarmPayload\": {\n                \"control\": true\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 2:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000,\n            \"alarmPayload\": {\n                \"control\": true\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 3:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000*5,\n            \"alarmPayload\": {\n                \"control\": true\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 4:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000*10,\n            \"alarmPayload\": {\n                \"control\": true\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "2b6ae5763d52c8d5"
            ]
        ]
    },
    {
        "id": "eeeece46534afa14",
        "type": "function",
        "z": "8222568a16dca0bb",
        "name": "Get data from timer payload",
        "func": "msg.payload = msg.control\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 740,
        "wires": [
            [
                "9daab9fb44fa0413"
            ]
        ]
    },
    {
        "id": "93ae9281d20161b2",
        "type": "ui_dropdown",
        "z": "8222568a16dca0bb",
        "name": "",
        "label": "Timer ON",
        "tooltip": "ON",
        "place": "Select option",
        "group": "96df22abb9528455",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Clear Timer",
                "value": 0,
                "type": "num"
            },
            {
                "label": "10s",
                "value": 1,
                "type": "num"
            },
            {
                "label": "1min",
                "value": 2,
                "type": "num"
            },
            {
                "label": "5min",
                "value": "3",
                "type": "str"
            },
            {
                "label": "10min",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "8d0eea22fb4222f2",
                "d73458cba441d82b"
            ]
        ]
    },
    {
        "id": "d73458cba441d82b",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "759f67c92e569ef5",
        "type": "jsontimer",
        "z": "8222568a16dca0bb",
        "name": "",
        "locale": "vn-VN",
        "localeOptions": "{\"timeZone\": \"UTC\"}",
        "x": 560,
        "y": 860,
        "wires": [
            [
                "5f043892985a51d3"
            ],
            [
                "fdb54983475d530e",
                "d4378f6111bbdfb9"
            ]
        ]
    },
    {
        "id": "5f043892985a51d3",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "timerout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 820,
        "wires": []
    },
    {
        "id": "fdb54983475d530e",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "alarmPayload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "2eb0996f9be88cea",
        "type": "function",
        "z": "8222568a16dca0bb",
        "name": "Set timer",
        "func": "let state = msg.payload;\n\nswitch(state) {\n    case 0:\n        msg.payload = {\n        \"id\":\"Timer\"\n        }\n        msg.topic = \"clear\"\n        break;\n    case 1:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":10000,\n            \"alarmPayload\": {\n                \"control\": false\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 2:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000,\n            \"alarmPayload\": {\n                \"control\": false\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 3:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000*5,\n            \"alarmPayload\": {\n                \"control\": false\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n    case 4:\n        msg.payload = {\n            \"id\":\"Timer\",\n            \"timeout\":60000*10,\n            \"alarmPayload\": {\n                \"control\": false\n            },\n            \"local\":\"vn-VN\",\n            \"localeOptions\": {\n                \"timeZone\": \"UTC\"\n            }\n        }\n        msg.topic = \"set\"\n        break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 860,
        "wires": [
            [
                "759f67c92e569ef5"
            ]
        ]
    },
    {
        "id": "d4378f6111bbdfb9",
        "type": "function",
        "z": "8222568a16dca0bb",
        "name": "Get data from timer payload",
        "func": "msg.payload = msg.control\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 960,
        "wires": [
            [
                "9daab9fb44fa0413"
            ]
        ]
    },
    {
        "id": "224e35109f7f3a8c",
        "type": "ui_dropdown",
        "z": "8222568a16dca0bb",
        "name": "",
        "label": "Timer OFF",
        "tooltip": "OFF",
        "place": "Select option",
        "group": "96df22abb9528455",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Clear Timer",
                "value": 0,
                "type": "num"
            },
            {
                "label": "10s",
                "value": 1,
                "type": "num"
            },
            {
                "label": "1min",
                "value": 2,
                "type": "num"
            },
            {
                "label": "5min",
                "value": "3",
                "type": "str"
            },
            {
                "label": "10min",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "2eb0996f9be88cea",
                "20c792b63aa46a34"
            ]
        ]
    },
    {
        "id": "20c792b63aa46a34",
        "type": "debug",
        "z": "8222568a16dca0bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 940,
        "wires": []
    },
    {
        "id": "1b45e2a042b027d4",
        "type": "ui_text",
        "z": "8222568a16dca0bb",
        "group": "96df22abb9528455",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power Usage",
        "format": "{{msg.payload}}W",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc8f62561527c98d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "13.208.211.184",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "96df22abb9528455",
        "type": "ui_group",
        "name": "Smart Plug",
        "tab": "74a5c8acaaac19d2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74a5c8acaaac19d2",
        "type": "ui_tab",
        "name": "IoT Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]